$greyColor: #737373;
$redColor: #E74040;
$darkBlue:#2D4059;
$primaryColor: #96BB7C;

.bg-primary {
	background: $primaryColor !important;
	border: none;
}
.btn-primary {
	background-color: $primaryColor !important;
	color: white !important;
}

.btn-outline-primary {
	border: 1px solid $primaryColor !important;
}

.bg-danger {
	background: $redColor !important;
}

.bg-dark {
	background: $darkBlue !important;
}
.greyColor {
	color:$greyColor;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: $darkBlue;
}

.text-primary {
	color: $primaryColor !important;
}

header {
	background-color: #FAFAFA;
	padding: 20px 0 80px 0;
}
.header {
	background-image: url(../img/background.svg);
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		letter-spacing: 0.2px;
	}

	.active {
		text-decoration: underline;
	}

	ul>li>a {
		color: $greyColor !important;
	}

	.navbar-nav {
		a {
			font-size: 0.875rem;
		}
	}

		a {
			font-size: 0.875rem;
		}
	.card {
		border-radius: 0%;
		p{
			color: $greyColor;
		}
	}
	.line {
		width: 50px;
height: 2px;
background-color: $redColor;
	}
	.card-icon {
		border-radius: 50%;
		width: 72px;
		height: 72px;
	}
}
.btn-outline-primary:hover {
	background-color: $primaryColor !important;
	color: white !important;
}
.stats {
	padding: 80px 0;

	h6 {
		font-weight: 700;
		font-size: 16px;
	}

	.metrics-item {
		font-weight: 700;
		font-size: 58px;
	}
}

.clients-important,
.advice {
	padding: 160px 0;
}

.line {
	width: 94px;
	height: 7px;

}

.advice {
	background: #FFF2F3;

	p {
		color: $greyColor;
	}

	.card {
		.badge {
			font-size: 14px;
			padding: 5px 10px;
			top: 5%;
			left: 5%;
		}

	}

	.card-body {
		.rate {
			font-size: 0.75rem;
			border-radius: 20px;
		}

		a {
			border-radius: 37px;
			border: 1px solid $primaryColor !important;

			&.btn-outline-primary:hover {
				background-color: $primaryColor;
				color: white !important;
			}
		}

		.price {
			p {
				color: #BDBDBD;
			}
		}
	}

}

.product-actions {
	top: -20%;
	left: 50%;
	transform: translate(-50%, -50%);

	button {
		border-radius: 50%;
	}
}

.orangeColor {
	color: #FFAB71 !important;
}

.reviews {
	padding: 160px 0;
	.card {
		border-radius: 0%;
		.card-text {
			font-size: 0.875rem;
			color: $greyColor;
		}
	}
}
.team {
	padding: 112px 0;
	.card {
		border-radius: 20px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	}
}
.subscribe {
	padding: 160px 0;
	input {
		background-color: #F9F9F9 !important;
		color: $greyColor !important;
		border: 2px solid #E6E6E6 !important;
	}
}
.footer {
	background-color: #FAFAFA;
}