$greyColor: #737373;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.text-primary {
	color: #96BB7C !important;
}

.stats {
	padding: 80px 0;

	h6 {
		font-weight: 700;
		font-size: 16px;
	}

	.metrics-item {
		font-weight: 700;
		font-size: 58px;
	}
}

.clients-important, .advice {
	padding: 160px 0;
}

.line {
	width: 94px;
	height: 7px;
	background-color: #E74040;
}
.advice {
	background: #FFF2F3;

	p{
		color: $greyColor;
	}
}