$greyColor: #737373;
$redColor: #E74040;
$darkBlue:#2D4059;
$primaryColor: #96BB7C;

.bg-danger {
	background: $redColor !important;
}

.bg-dark {
	background: $darkBlue !important;
}
.colorDarkBlue {
	color: $darkBlue;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.text-primary {
	color: $primaryColor !important;
}

.header {
	.active {
		text-decoration: underline;
	}
	ul > li > a {
		color: $greyColor !important;
	}
}

.stats {
	padding: 80px 0;

	h6 {
		font-weight: 700;
		font-size: 16px;
	}

	.metrics-item {
		font-weight: 700;
		font-size: 58px;
	}
}

.clients-important,
.advice {
	padding: 160px 0;
}

.line {
	width: 94px;
	height: 7px;

}

.advice {
	background: #FFF2F3;

	p {
		color: $greyColor;
	}

	.card {
		.badge {
			font-size: 14px;
			padding: 5px 10px;
			top: 5%;
			left: 5%;
		}

	}

	.card-body {
		.rate {
			font-size: 0.75rem;
			border-radius: 20px;
		}

		a {
			border-radius: 37px;
			border: 1px solid $primaryColor !important;

			&.btn-outline-primary:hover {
				background-color: $primaryColor;
				color: white !important;
			}
		}
		.price {
			p {
				color: #BDBDBD;
			}
		}
	}

}
.product-actions {
	top: -20%;
	left: 50%;
	transform: translate(-50%, -50%);
	button {
		border-radius: 50%;
	}
}
.orangeColor {
	color: #FFAB71 !important;
}